body {
  background-color: #e5ebf1fa;
}

button {
  display: block;
  border: none;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
button:hover,
button:focus {
  background-color: #d3d2d6;
  border-color: ;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.search-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #0760befa;
  box-shadow: 0px 1px 2px 1px rgba(2, 2, 63, 0.267);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

input {
  width: 50%;
  height: 40px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  padding: 2px 10px;
  border: none;
}
input:hover,
input:focus {
  outline: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 50px;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 1px 2px 1px rgba(2, 2, 63, 0.1);
  background-color: #fff;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  padding: 0 10px 10px 10px;
  justify-content: space-between;
}

.info-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
}

.gallery img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.gallery__link {
  display: block;
  text-decoration: none;
  outline: transparent;
}

.photo-card {
  width: 100%;
  box-shadow: 0px 1px 2px 1px rgba(2, 2, 63, 0.1);
}

@media screen and (min-width: 428px) {
  .gallery {
    max-width: 428px;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    max-width: 768px;
  }
  .photo-card {
    width: calc((100% - 20px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .gallery {
    max-width: 1158px;
  }
  .photo-card {
    width: calc((100% - 20px * 3) / 4);
  }
}
